.square {
	width: 200px;
	height: 200px;
	background-color: #848484;
	margin: 5px;
	transition: all 0.2s;
	border-radius: 0%;
	clip-path: polygon(
		72px 0,
		0 0,
		0 58px,
		0 115px,
		0 200px,
		60px 200px,
		146px 200px,
		200px 200px,
		200px 118px,
		200px 62px,
		200px 0,
		148px 0
	);
}

.square--X {
	width: 200px;
	height: 200px;
	background-color: #cd493a;
	margin: 5px;
	transition: all 0.2s;
	border-radius: 0%;
	clip-path: polygon(
		40px 0,
		0 40px,
		60px 100px,
		0 160px,
		40px 200px,
		100px 140px,
		160px 200px,
		200px 160px,
		140px 100px,
		200px 40px,
		160px 0,
		100px 60px
	);
}

.square--O {
	background-color: #4392f1;
	border-radius: 50%;
}

.square--X.winner {
	/* si una x es winner agrego la sig animacion de keyframes ==> LINEA 56*/
	animation: x-winner-animation infinite 2s ease-in-out;
	/* lento a rapido con 2 seg*/
}

.square--O.winner {
	/* si un o es winner agrego la sig animacion de keyframes ==> LINEA 66*/
	animation: o-winner-animation infinite 0.5s ease-in-out;
	/* latidos de 5 seg*/
}

@keyframes x-winner-animation {
	/* Animacion que logra que el tres en linea rote en 360° */
	from {
		transform: rotate(0deg); /*empieza en 0 rotacion*/
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes o-winner-animation {
	/* Animacion que logra que el tres en linea del o se expanda a un cuadrado cambiando el radius del o a 0 y vuelva a 50% repetidamente como un palpito */
	0% {
		border-radius: 50%;
	}
	50% {
		border-radius: 0%;
	}
	100% {
		border-radius: 50%;
	}
}
/*EN EMPATE SE ACTIVAN AMBAS ANIMACIONES*/
